.fish {
    position: absolute;

    z-index: 2;
    background-size: cover;
    width: 140px;
    height: 110px;
    color: gold;
    font-size: 50px;
    animation: fish 23s ease infinite;
}

.f1 {
    top: 70px;
    left: 10%;
    color: gold;
    font-size: 50px;
    animation: fish 13s ease infinite;
    /* display: block; */
}


.f2 {
    top: 12vh;
    left: 10%;
    color: rgb(243, 147, 21);
    font-size: 50px;
    animation: fish2 13s ease infinite;
}
.f3 {
    top: 62vh;
    left: 10%;
    color: gold;
    font-size: 50px;
    animation: fish2 8s ease infinite;
}
.f4 {
    top: 72vh;
    left: 10%;
    color: rgb(132, 113, 4);
    font-size: 50px;
    animation: fish 6s ease infinite;
}
.f5 {
    top: 82vh;
    left: 10%;
    color: rgb(236, 236, 236);
    font-size: 50px;
    animation: fish3 8s ease infinite;
}
.f6 {
    top: 32vh;
    left: 10%;
    color: rgb(243, 251, 1);
    font-size: 50px;
    animation: fish3 25s ease infinite;
}




@keyframes fish {
    
    0% {
        /* background-position: 0% 50%; */
        /* transition: 10% 40%; */
        left: -18vw;
        /* top: 20%; */
    }
 
    30%{
        /* left: 50%; */
        /* transform: scaleX(-1); */
        
        /* transform: scale(.5); */
        left:30vw;

    }
    40% {
        left: 55vw;
        
    }
    51% {
        /* transform: rotate(180deg); */
        /* transform: rotate(180deg); */
        /* left:75%; */
    }
    59% {
        left:55vw;
        /* left: 100%; */
        /* top:400px; */
        
    }
    69%{
        
        transform: scaleX(1);
    }
    
    70% {
        top: 206px;
        /* top:60px; */
        left:45%;
        /* overflow: hidden; */
        /* background-position: 0% 50%; */
        /* transition: 0% 50%; */
        transform: scaleX(-1);
        /* transform: scale(.5); */
    }
    85% {
        top: 120px;
        
    }
    100% {
        transform: scaleX(-1);
        left: -20%;
        /* transform: scaleX(1); */
        /* transform: scale(1); */
        top: -10px;
        
    }
}
@keyframes fish2 {

    0% {
        /* background-position: 0% 50%; */
        /* transition: 10% 40%; */
        left: -20vw;
        top: 160px;
    }
    20% {
        left: 20vw;
    }
    50% {
        left: 30vw;
        top: 20%;
    }
    51% {
        transform: scaleX(1);
        /* left: 80%; */
        /* transform: rotate(180deg); */
        
    }
    
    60% {
        transform: scaleX(-1);
        left: 55vw;
    }
    71% {
        
        left: 41%;
        top: 10%;
    }
    90% {
        left: -5vw;
    }
    100% {
        transform: scaleX(-1);
        left: -18%;

    }

}

@keyframes fish3 {

    0% {
   
        left: -10vw;
        top: 10vh;
    }
    20% {
        left: 35vw;
    }
    49% {
        left: 49vw;
        transform: scale(1);

    }
    60% {
        left: 50vw;
        transform: scale(-1);
    }
    70%{
        left: 20vw;
    }
    90% {
        left: -10vw;
    }
    100% {
        transform: scale(-1);
        left: -20vw;
    }
}