.fish {
    position: absolute;

    z-index: 1;
    background-size: cover;
    width: initial;
    height: initial;
    color: gold;
    font-size: 50px;
    animation: fish 21s ease infinite;
}

.f1 {
    top: 70px;
    left: 10%;
    color: gold;
    font-size: 50px;
    animation: fish 17s ease infinite;
    /* display: block; */
}


.f2 {
    top: 12vh;
    left: 10%;
    color: rgb(243, 147, 21);
    font-size: 50px;
    animation: fish2 13s ease infinite;
}
.f3 {
    top: 62vh;
    left: 10%;
    color: gold;
    font-size: 50px;
    animation: fish2 8s ease infinite;
}
.f4 {
    top: 72vh;
    left: 10%;
    color: rgb(132, 113, 4);
    font-size: 50px;
    animation: fish 6s ease infinite;
}
.f5 {
    top: 82vh;
    left: 10%;
    color: rgb(236, 236, 236);
    font-size: 50px;
    animation: fish3 18s ease infinite;
}
.f6 {
    top: 62vh;
    left: 10%;
    color: rgb(243, 251, 1);
    font-size: 50px;
    animation: fish3 25s ease infinite;
}
.f7 {
    top: 82vh;
    left: -10%;
    color: rgb(243, 251, 1);
    font-size: 50px;
    animation: fish4 15s ease infinite;
}
.f8 {
    top: 42vh;
    left: -10%;
    color: rgb(243, 251, 1);
    font-size: 50px;
    animation: fish4 32s ease infinite;
}




@keyframes fish {
    
    0% {
        /* background-position: 0% 50%; */
        /* transition: 10% 40%; */
        left: -18vw;
        /* top: 20%; */
    }
    
    30%{
        /* left: 50%; */
        /* transform: scaleX(-1); */
        
        /* transform: scale(.5); */
        left:30vw;
        
    }
    40% {
        left: 55vw;
        
    }
    58% {
        transform: rotate(0deg);
        /* left:75%; */
    }
    59% {
        left:55vw;
        top: 50vh;
        transform: rotate(180deg);
        /* left: 100%; */
        /* top:400px; */
        
    }
    69%{
        
        /* transform: rotate(0deg); */
        transform: scaleX(-1);
    }
    
    70% {
        top: 206px;
        left:45%;
        transform: scaleX(-1);
        transform: rotate(360deg);
    }
    85% {
        top: 120px;
        
    }
    100% {
        transform: scaleX(-1);
        left: -20%;
        top: -300px;
        
    }
}
@keyframes fish2 {

    0% {
        left: -20vw;
        top: 160px;
    }
    20% {
        left: 20vw;
        transform: rotate(0deg);
    }
    50% {
        left: 30vw;
        top: 20%;
    }
    51% {
        transform: scaleX(1);
        /* left: 80%; */
        
    }
    
    60% {
        transform: rotate(180deg);
        transform: scaleX(-1);
        left: 55vw;
    }
    71% {
        
        left: 41%;
        top: 10%;
    }
    90% {
        left: -5vw;
    }
    100% {
        transform: scaleX(-1);
        left: -18%;

    }

}

@keyframes fish3 {

    0% {
   
        left: -10vw;
        top: 60vh;
    }
    20% {
        left: 35vw;
    }
    49% {
        left: 49vw;
        
    }
    60% {
        left: 50vw;
    }
    70%{
        left: 20vw;
        transform: scale(-1);
    }
    90% {
        transform: scale(-1);
        left: -10vw;
    }
    100% {
        transform: scale(-1);
        left: -20vw;
    }
}

@keyframes fish4 {

    0% {
   
        left: -10vw;
        top: 50vh;
    }
    20% {
        left: 45vw;
    }
    49% {
        left: 49vw;
        
    }
    60% {
        left: 30vw;
        top: 60vh;
    }
    70%{
        left: 6vw;
        transform: scale(-1);
        top: 63vh;
    }
    90% {
        transform: scale(-1);
        left: -10vw;
    }
    100% {
        transform: scale(-1),rotate(360deg);
        /* transform: ; */
        left: -20vw;
    }
}