.footer {
    position: fixed;
    bottom: 0;
    z-index: 4;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 0 0 2px 0 var(--footer-boxShadow-color);
    background-color: var(--footer-bg-color);
    width: 100%;
    max-width: 100vw;

}

.footer__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 500px;
}

.footer__img {
    position: fixed;
    background: url(../../img/black1.png) no-repeat bottom;
    background-size:100%;
    width: 50vw;
    height: 50vw;
    z-index: 2;
    bottom: 3.05rem;
    left: 52vw;
    
}
