.form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.form__image {
    grid-row: span 3;
    background-image: url("../../img/cat.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.form__textarea {
    grid-row: span 2;
    resize: none;
    height: 100%;
}

.form__btn {
    font-size: 14px;
    width: 100%;
    
}


.form__input {
    outline: none;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid var(--outline-color);
    border-radius: 4px;
}

.form__input:focus {
    border: 1px solid var(--accent-color);
}

.form__fake-checkbox {
    font-size: 22px;
    font-weight: 900;
}

.form__checkbox-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 10px;
    background-color: white;
}

.form__checkbox {
    appearance: none;
    position: absolute;
}

.form__checkbox:focus~.form__fake-checkbox,
.form__checkbox:focus~.form__label {
    color: var(--text-secondary-color);
}

.form__checkbox:checked~.form__fake-checkbox,
.form__checkbox:checked~.form__label {
    color: var(--popup-checkBox-aceptColor);
}

.form__checkbox:checked:focus~.form__fake-checkbox,
.form__checkbox:checked:focus~.form__label {
    opacity: 0.6;
}
.btn_delete {
    grid-column: span 3;
    background-color: rgb(148, 5, 5);
}
.btn_delete:hover {
    grid-column: span 3;
    box-shadow: 0 0 20px 0 rgb(255, 30, 0);
}

label {
    font-style: italic;
    font-weight: 600;
    margin: 0;
    color: var(--btn-bg-color);
    text-align: center;
    height: auto;

}

@media (max-width: 700px) {
        
    .form__image {
        display: flex;
        height: 200px;
        background-size: contain;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
}