

.form-info {
    position: relative;
    display: flex;
    flex-direction: column;
    background:rgba(255, 255, 255, 0.887);
    
}




.form-info-img {
    /* margin: 10px; */
    /* grid-column: span 3; */
    height: 40vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
} 

.form__input-info {
    padding: 3px;
    width: 100%;
    border: none;
    background-color: white;
    text-align: center;
}

.form__textarea-info{
    grid-column: span 2;
    resize: none;
    
}

@media (max-width: 700px) {
    .popup__container-info-cat {
        /* max-width: 80vw; */
    }
    .form-info {
        /* width: 80vw; */
    }
    .form__input-info {
        /* font-size: 2vw; */
    }
    .form-info-img {
        /* max-width: 80vw; */
    }
}

/* @media (max-width: 700px) {
        
    .form__image {
        display: flex;
        height: 200px;
        background-size: contain;
    }
    .form {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
} */