.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transition: linear 0.2s, linear 0.2s, linear 0.2s 0.5s;
    transition-property: opacity, background-color, visibility;
}

.popup_active {
    opacity: 1;
    visibility: visible;
    transition: linear 0.2s, linear 0.2s;
    transition-property: opacity, background-color; 
}

.popup__container {
    max-width: 600px;
    background-color: var(--form-color);
    padding: 20px;
    position: relative;
    border-radius: 16px;
}

.popup__close {
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgb(179, 5, 5);
}
.popup__close:hover {
background: rgb(255, 60, 60);
box-shadow: 0 0 20px 0 rgb(250, 0, 42);
}

.popup__close_external {
    background-color: transparent;
    color: var(--head-bg-color);
    top: -40px;
    right: -40px;
    font-size: 30px;
}

.popup__image {
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 700px) {

    .popup__container {
        width: 80%;
        text-align: center;
    }
    
    #popup-form-login {
        display: flex;
        flex-direction: column;
     
    }
}