html {
    box-sizing: border-box;
    /* height: 100%; */
}

body {
    margin: 0;
    font-family: "Arial", "Helvetica", sans-serif;


/*  добавление градиента */

    background: linear-gradient(-65deg,#3304ec,#0d003b,#003380, #080036, #064db7, #23a6d5,#0250c5, #002135);
    background-size: 400% 400%;
    animation: gradient 6s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 10%;
    }
    50% {
        background-position: 90% 100%;
    }
    100% {
        background-position: 0% 10%;
    }
}



Resources
*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }