html {
    box-sizing: border-box;
    /* height: 100%; */
}

body {
    margin: 0;
    font-family: "Arial", "Helvetica", sans-serif;


/*  добавление градиента */

    background: linear-gradient(-65deg, #23004b, #064db7, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    /* background-image:url(/img/5ff5278c7344d01df287c64240e77170.png); */
    animation: gradient 6s ease infinite;
    /* overflow: hidden; */
    /* position: relative; */
    /* max-height: 100vh; */
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}



Resources
*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: currentColor;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }