

:root {
    --head-boxShadow-color:black;
    --head-bg-color: rgba(240, 240, 240, .4);

    --btn-bg-color:rgba(6, 14, 160, 0.8);
    --btn-text-color:white;

    --main-bg-color: rgb(255, 255, 255);
    --main-text-color:black;
    
    --card-blur-color: #f8f7f774;
    --card-like-color: #CE2724;
    
    --copyright-text-color: rgb(9, 9, 9);
    --footer-bg-color: rgb(240, 240, 240, .4);
    --footer-boxShadow-color:black;
    --socials-icon-color:black;
    --socials-iconHover-color:blue;
    
    --popUp-add-color:grey;
    --form-color: #ffffff;
    --text-main-color: #191414;
    --text-secondary-color: #818b90;
    --popup-checkBox-aceptColor: #0c31ed;
    --outline-color: #CFD8DC;
    
}